<html>
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>SELF_SERVICE_RESTAURANT_KIOSK</title>
<style>
    .button5{
            opacity: 1;
  border: 3px solid blue;
  margin-top: 30px ;
  border-radius: 25px;
  width: 300px;
  height: 10%;
  background-color: rgb(208, 205, 248);}
</style>
</head>
<body align="center">
<h2 >Admin Login</h2>
<form action="/admin" method="POST">
  <div>
    <h1 >{% if done %} {{done}} {% endif %}</h1>
    <label for="uname"><b>Username</b></label>
    <input type="text" class="button5" placeholder="Enter Username" name="uname" required>
<br><br>
    <label for="psw"><b>Password</b></label>
    <input type="password" class="button5" placeholder="Enter Password" name="psw" required>
        <br><br>
    <button type="submit" class="button5">Login</button>
   <button type="button" class="button5" formaction="/front">Cancel</button>
  </div>
</form>
</body>
</html>