<html>
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>SELF_SERVICE_RESTAURANT_KIOSK</title>
<style>
    .button5{
            opacity: 1;
  border: 3px solid blue;
  margin-top: 30px ;
  border-radius: 25px;
  width: 300px;
  height: 10%;
  background-color: rgb(208, 205, 248);}
</style>
</head>
<body align="center">

<h2 >Enter Details : </h2>

<form action="/main" method="POST">
  <div >
    <label for="name"><b>NAME : </b></label>
    <input type="text" class="button5" placeholder="Enter Name" name="name" required>
<br><br>
    <label for="ph"><b>PHONE NUMBER : </b></label>
    <input type="text" class="button5" placeholder="Enter Phone Number" name="ph" required>
        <br><br>
    <button type="submit" class="button5" formaction="/main">SUBMIT</button>
   <button type="submit" class="button5" formaction="/front">BACK</button>
  </div>
</form>

</body>
</html>